.comment-wrapper{
    display: flex;
    padding: 0.5rem 1rem 1rem;
    border-radius: 0.8rem;
    flex-direction: column;
    box-shadow: 0 0 10px #4ba3c7;
    margin-top: 0.5rem;
    width: 80vw;
}

.comment-header{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    align-items: center;
}

#img-wrapper{

}

.wrapper-move{
    transition: 0.7s;
    transform: translateX(0px);
    filter: alpha(100%);
}

.img-anon{
    transform: rotate(360deg);
    transition: 0.7s;
    filter: opacity(0.8) grayscale(1);
}
#ava-wrap2{
    width: 44px;
    height: 32px;
    border-radius: 18px;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: solid 2px gray;
    background: greenyellow;
}

.ava-wrap2-inactive{
    background: lightgray !important;
}

.wrapper-return{
    transition: 0.7s;
    transform: translateX(12px);
}

.img-not-anon{
    transform: rotate(-360deg);
    transition: 0.7s;
}

.comments-block{
    display: flex;
    flex-direction: column;
}

.comments-block img, .comment-header img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 16px;

}

.comments-block textarea{
    border: none;
    resize: none;
    border-radius: 0.5rem;
    padding:0.5rem;
    font-size: 1rem;
}
