body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@viewport {
  width: device-width;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --color-primary:#81d4fa;
  --color-primary-light:#b6ffff;
  --color-primary-dark:#4ba3c7;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.allwrapper{
  background: var(--color-primary);
  padding:0rem;
  display:flex;
  flex:1 0 auto;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  height: available;
  overflow-x: hidden;
}

.titlewrapper{
  opacity: 1;
  display: flex;
  flex:0 0 auto;
  padding:1rem;
  font-size: 1.3rem;
  align-items: center;
  position: sticky;
}

.titlewrapper >svg{
  margin-right: 0rem;
  z-index: 2;
}
.titletext{
  display: flex;
  align-items: center;
  justify-self: center;
  flex:1 0 auto;
}


.mainwrapper{
  display: flex;
  border-radius: 1rem;
  flex: 1 1 auto;
  background: aliceblue;
  padding: 1rem 0.5rem 0.5rem 1rem;
  overflow-y: scroll;
  word-break: break-all;
}

html, body{
  display: flex;
  height: 100vh;
  width: 100vw;
  padding:0;
  margin:0;
}
.menuitem{
  padding:10px;
  text-align: center;
  font-size: 1rem;
}
.menuitem:hover{
  background: var(--color-primary);
}
.menu{
  display:none;
  position: absolute;
  background: var(--color-primary-light);
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  z-index: 2;
  align-items: stretch;
  padding: 1rem 1rem 1rem 0;
  border-radius: 0;
  border-color:var(--color-primary);
  border-width: 10px;
  transform-origin: top left;
  transition: 1s;
  transform: scale(0);
}

.personList{
  display: flex;
  flex-direction: column;
}

.auth{
  display: none;
}

.navigation-block{
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 1 0 auto;
}

.navigation-block:hover, .title:hover{
  color: #444444;
}

.title{
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 1 0 auto;
}

.menu-appeared{
  transform: scaleY(1);
  transition: 1s;
  transform-origin: top left;
}










@media (min-width: 320px) and (max-width: 480px) {
.navigation-block{
  display: none;
}
  html{
    color: #333333;
  }
}



.pers-desc{
  display:block;
  max-width: 80vw;
  word-wrap: break-spaces;
  white-space: pre-wrap;
}

.toggle-profile{
  transition: 1s;
  transform: scaleX(-1);
}


#vk_auth, #trigger-profile{
  margin-right: 2rem;
}

#trigger-profile{
  border-radius: 18px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: solid 2px transparent;
}

.profile-container{
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}


#trigger-profile[inited="true"]{
  fill:green;
}

#vk_auth{
  position: absolute;
  top: 1rem;
  right: 1rem
}

.action-container{
  display: flex;
  flex-direction: row;
  margin:1rem;
}

.action-container div{
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.review-cont{
  display: flex;
  flex-direction: column;
  flex:1 0 auto;
}
